---


---
	

<body class=" text-center">
	<div class="text">
        <p>Under Construction</p>
        <p class="blink">Eder-404</p>
    </div>
</body>

<style>
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1.5s linear infinite;
}

body {
    background-color: black;
    color: #00ff00;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.text {
    padding: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    .blink {
        font-size: 1.5em; /* Tamaño más pequeño para dispositivos móviles */
    }
    .text {
        font-size: 1em; /* Texto más pequeño para mejorar la legibilidad */
    }
}

@media (max-width: 480px) {
    .blink {
        font-size: 1.2em; /* Aún más pequeño para pantallas muy pequeñas */
    }
    .text {
        font-size: 0.9em;
    }
}

</style>